# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/shizu-pickup/Cpp-Toys/Cpp-Toys.vcxproj.filters
/shizu-pickup/Cpp-Toys/Cpp-Toys.vcxproj
/shizu-pickup/Cpp-Toys/Cpp-Toys.sln
/shizu-pickup/Cpp-Toys/.vs/Cpp-Toys/v15
/.vs/shizu-libraries/v15
/shizu-pickup/cpp-toys/Rational/Debug
/shizu-pickup/cpp-toys/Rational/.vs/Rational/v15
/shizu-pickup/cpp-toys/Rational/Rational.vcxproj.filters
/shizu-pickup/cpp-toys/Rational/Rational.vcxproj
/shizu-pickup/cpp-toys/Rational/Rational.sln
.vs/
Debug/
*.sln
*.vcx*