# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/shizu-pickup/Cpp-Toys/Cpp-Toys.vcxproj.filters
/shizu-pickup/Cpp-Toys/Cpp-Toys.vcxproj
/shizu-pickup/Cpp-Toys/Cpp-Toys.sln
/shizu-pickup/Cpp-Toys/.vs/Cpp-Toys/v15
/.vs/shizu-libraries/v15
